        /**/
        #enter
        {
            position: absolute;
            bottom: 73.2%;
            left: 21%;
            height: 50px;
            width: 70px;
           
        }
        #page
        {
            margin-top: 200px;
            margin-left: 200px;
        }